# ========================
# Node / frontend output
# ========================
dist/
build/

# ========================
# Node
# ========================
node_modules/

# ========================
# Logs
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Editor
# ========================
.vscode/

# ========================
# Environment
# ========================
.env
.env.local
.env.*.local

# ========================
# Yarn Berry cache
# ========================
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# ========================
# Misc
# ========================
storybook-static
