.root {
    composes: animate from "../../global/animation.module.css";
}

.input {
    composes: outline from "../../global/forms.module.css";
}

.option {
    composes: option from "../../global/forms.module.css";
}
