/* Styles for datepickers that can me merged with the regular import styles. Be careful of class clashes if you edit this! */

.day,
.monthsListControl,
.yearsListControl,
.calendarHeaderLevel,
.calendarHeaderControl {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white)) !important;
  font-weight: 700;

  &:hover {
    background-color: light-dark(var(--hover-bg-light), var(--hover-bg-dark)) !important;
  }
}

.day {
  &[data-selected="true"] {
    background-color: light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark)) !important;
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white)) !important;
  }

  &[data-weekend="true"] {
    color: var(--mantine-color-primary-6) !important;

    &[data-selected="true"] {
      color: light-dark(var(--mantine-color-white), var(--mantine-color-white)) !important;
    }
  }
}
