.root {
  @media (max-width: $mantine-breakpoint-xs) {
    --tabs-list-border-width: 0 !important;
  }
}

.tab {
  font-family: var(--mantine-font-family);
  line-height: 1.5;
  text-wrap: nowrap;

  @media (min-width: $mantine-breakpoint-xs) {
    font-size: 1.2rem;
    padding: 0.4rem 1.8rem 0 1.8rem;
    border-radius: 4px 4px 0 0;
    font-weight: 700;

    &[data-selected="true"] {
      border-bottom-color: light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark));
    }

    &:hover {
      background-color: light-dark(var(--hover-bg-light), var(--hover-bg-dark));
    }
  }

  &:hover {
    background-color: light-dark(var(--hover-bg-light), var(--hover-bg-dark));
  }

  /* Mobile view */
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 0.8rem;
    padding: 0.4rem 1.2rem;
    border-radius: 25px;

    background: var(--mantine-color-body);
    border: 1px solid light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark));
    color: var(--mantine-color-text);

    &[data-active="true"] {
      color: var(--mantine-color-white);
      background: light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark));
    }
  }
}

.panel {
  padding-top: 1.8rem;
}

/* Make tabs scroll, it's better than stacking them, and is the the worst of the tab-based evils */
.list {
  width: 100%;
  flex-wrap: nowrap;

  /* Mobile view */
  @media (max-width: $mantine-breakpoint-xs) {
    gap: var(--mantine-spacing-xs);
    border-bottom: none;
    overflow-x: auto;
    overflow-y: hidden;
    /* hide scrollbars */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
