/*
  Truncate the title if it spans more than 3 lines
  https://blog.logrocket.com/ways-truncate-text-css/#webkit-line-clamp-multi-line-text-truncation
*/
.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.secondaryText {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
