/* Here we apply global styles to all form elements, as InputWrapper is used in all of them. */

.label {
  font-weight: 700;
  font-family: var(--mantine-font-family-headings);
}

.description {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));
}
