.root {
  &[data-variant="info"] {
    --icon-color: light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark));
  }

  &[data-variant="success"] {
    --icon-color: light-dark(var(--success-color-light), var(--success-color-dark));
  }

  &[data-variant="error"] {
    --icon-color: light-dark(var(--error-color-light), var(--error-color-dark));
  }
}

.title {
  font-family: var(--mantine-font-family-headings), Arial, sans-serif;
  font-size: 1rem;
}

.description {
}

.closeButton {
}

.loader {
  --loader-color: var(--icon-color) !important;
}

.icon {
  background-color: unset;
  color: var(--icon-color);
}
