.root {
  transition: none;
  /* Get rid of the gray container that houses the buttons */
  background-color: light-dark(transparent, transparent) !important;
  /* Remove the padding */
  padding: 0;
  /* Gap between buttons*/
  gap: 1rem;
}

.label {
  composes: animate from "../../global/animation.module.css";

  /* Unselected buttons appear the same as outline buttons */
  border: 1px solid light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark)) !important;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white)) !important;

  &[data-active="true"] {
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white)) !important;

    &:hover {
      background-color: light-dark(var(--solid-purple-color-hover-light), var(--solid-purple-color-hover-dark)) !important;
    }
  }

  &:hover {
    background-color: light-dark(var(--hover-bg-light), var(--hover-bg-dark)) !important;
  }

  &[data-disabled="true"] {
    border: none;
    color: var(--disabled-color-light) !important;

    &:hover {
      background-color: light-dark(unset, unset) !important;
    }
  }
}

.indicator {
  /* Selected button is the standard solid purple */
  background-color: light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark)) !important;

  /* Customise transition */
  transition-duration: 200ms;
  transition-timing-function: step-start;
}
