.title {
  font-size: 3.2rem;
  color: light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark));
  line-height: 1;
}

.secondaryText {
  display: flex;
  justify-content: flex-start;
}
