/* Used to add a new variant to any component that needs it */
.outline {
  &[data-variant="outline"] {
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(var(--outline-color-light), var(--outline-color-dark)) !important;

    &:hover {
      background-color: light-dark(var(--hover-bg-light), var(--hover-bg-dark));
    }

    &:focus-within {
      outline: 2px solid light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark));
      border-color: transparent !important;
      background-color: light-dark(var(--hover-bg-light), var(--hover-bg-dark));
    }
  }
}

/* Standard formatting for any Select options (the items in the dropdown part) */
.option {
  font-size: var(--mantine-font-size-sm) !important;
  padding: 0.5rem 1rem;

  &[data-checked] {
    font-weight: 700;
    svg {
      opacity: 1;
    }
  }
}
