.root {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.itemWrapper {
  padding-left: 5px;
}

.item {
  border-left-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
  border-left-style: solid;
  border-left-width: 4px;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 55px;
  padding: 15px 22px 15px 15px;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
    border-left-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
  }

  &[data-submenuhovered="true"] {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    border-left-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    }
  }

  &[data-submenuheader="true"] {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    border-left-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
    font-weight: 700;
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    }
  }

  &[data-active="true"] {
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-left-color: light-dark(var(--mantine-color-secondary-7), var(--mantine-color-secondary-4));
    font-weight: 700;
  }
}

.subMenuItem {
  composes: item;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  border-left-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
  font-size: 0.9rem;
  height: 45px;
  padding: 8px 22px 8px 15px;
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
  &[data-active="true"] {
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-left-color: light-dark(var(--mantine-color-secondary-7), var(--mantine-color-secondary-4));
    font-weight: 700;
  }
}

.itemIcon {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
  min-width: 20px;
}

.itemLabel {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
  margin-left: 10px;
}

.popoverItem {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 5px 20px;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    border-left-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
  }
  &[data-active="true"] {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    border-left-color: light-dark(var(--mantine-color-secondary-7), var(--mantine-color-secondary-4));
    font-weight: 600;
  }
}

.popoverItemIcon {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
  min-width: 15px;
}
