.root {
  &[data-variant="info"] {
    .section {
      --progress-section-color: light-dark(var(--solid-purple-color-light), var(--solid-purple-color-dark)) !important;
    }
  }

  &[data-variant="success"] {
    .section {
      --progress-section-color: light-dark(var(--success-color-light), var(--success-color-dark)) !important;
    }
  }

  &[data-variant="error"] {
    .section {
      --progress-section-color: light-dark(var(--error-color-light), var(--error-color-dark)) !important;
    }
  }
}
